

.inactiveCard{
  background-color:red;
  height:90%;
  width:100%;
}
.activeCard{
  background-color:rgb(21, 143, 21);
  height:90%;
  width:100%;
}
.cardOuter{
  height:350px;
  width:250px;
  margin:5%;
  border:black solid 1px;
}
.button{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:50px;
  padding-right:50px;
  margin-top:10px;
}
#board{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body{
  background-color:rgb(210, 239, 248)
}
.cardIndex{
  font-weight:bold;
  color:white;
  padding:1%;
  text-align:center;
}
.outerBoard{
  text-align:center;
}
